@import '../variables';
#About
    h6
        margin-right: 1rem 
    .red-square
        background-color: $red
        border-radius: 0.25rem
        padding: 1rem
    .border-after
        border-right: 1px solid $white

@media screen and (max-width: 812px)
  #About
    .border-after
        border-right: none
        border-bottom: 1px solid $white
    .red-square
        .row
            div
                .data-square
                    padding-bottom: 1rem
                    padding-top: 1rem
                &:first-child
                    .data-square
                        padding-top: 0rem
                &:last-child
                    .data-square
                        padding-bottom: 0rem
