@import '../variables';
#Home
  position: relative
  height: 100vh
  background-image: url("../../images/hero/hero-img.svg"),url("../../images/hero/hero-shape.svg")
  background-repeat: no-repeat, no-repeat
  background-attachment: scroll, scroll
  background-position: 99% 50%, -5% 70%
  background-size: 45vw, 18vw
  section
    position: absolute
    left: 15vw
    top: 25vh

@media screen and (max-width: 1024px)
  #Home
    background-position: 50% 10%, -5% 70%
    section
      position: absolute
      top: 40vh
      left: 30vw