@import '../variables';
#Home
  img
    width: 100%
  .with-leaf
    background-image: url("../../images/home/hero-shape.svg")
    background-repeat: no-repeat
    background-attachment: scroll
    background-position: -6% 80%
    background-size: 18vw

@media screen and (max-width: 768px)
  #Home
    .with-leaf
      background-image: none
