@import './node_modules/mdb-ui-kit/src/scss/mdb.free.scss';
@import './assets/styles/variables';


  
body 
  font-family: 'Fira Sans', 'meta-normal',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: white
  color: $dark-gray
  font-size: $default-font-size
  font-weight: 600

// strong
//   font-family: 'meta-bold'

// .strong
//   font-family: 'meta-bold'

h1
  color: $black

a
  color: $dark-gray 
  &:hover
    color: $red